<%- include('./include/header.ejs') %>
<body>
   <h1>Thong Tin</h1>
   <h3>Username: <%=username%></h3>
   <h3>Pass: <%=password%> </h3>
   <img src="<%=filename%>" alt="">
</body>
<%- include('./include/footer.ejs') %>